<html>
<head>
  <meta charset="utf-8">
	<title>ようこそNaganoCakeへ！</title>
    <style type="text/css">
      <link rel="stylesheet" href="top.css.erb">
    </style>
</head>

<body>
<div class="container">
  <div class="row">
	<div class="col-md-3">
	  <table border="1">
		<tr>
		  <th>
		  <h2>ジャンル検索</h2>
		  </th>
		</tr>
	  	<tr>
	  	  <td>
	  	  	<%= @genre.each do |genre| %>
	  	  	  <h3><%=link_to genre.name, items_path %></h3><br>
	  	  	<% end %>
	  	  </td>
	  	</tr>
	  </table>
	</div>


	<div class="col-md-9">
	  <div class="bgimg">
	  	<p>
	  	  ようこそNaganoCakeへ！<br>
	  	  このサイトは、ケーキ販売のECサイトになります。<br>
	  	  会員でない方も商品の閲覧はできますが、<br>
	  	  購入には会員登録が必要になります。<br>
	  	</p>
	  </div>
	  <h1><strong>オススメ商品</strong></h1>

	  <table>
	  	<%= @genre.first(4).each do |genre| %>
	  	<tr>
	  	  <td><%= link_to image_tag(genre.item.attachment_image), item_path %></td>
	  	</tr>
	  	<tr>
	  	  <td><%= genre.item.name %></td>
	  	</tr>
	  	<tr>
	  	  <td><%= genre.item.price %></td>
	  	</tr>
	  </table>
	</div>
	<p align="right"><%= link_to "もっと見る", items_path %></p>
  </div>
</div>
</body>
</html>