<div class="container">
  <div class="row">
    <div class="row">
    <h1>注文情報入力</h1>
    <%= form_for(@order) do |f| %>

      <h4>支払方法</h4>
      <%= f.radio_button :payment_type, :クレジットカード %>
      <%= f.label :payment_type, "クレジットカード" %><br>
      <%= f.radio_button :payment_type, :銀行振込 %>
      <%= f.label :payment_type, "銀行振込" %>

    <h4>お届け先</h4>
      <%= f.radio_button :address, class: "edit-control" %>
      <%= f.label :address, "ご自身の住所" %><br>
      <%= current_end_user.postcode %><%= current_end_user.address %><br>
      <%= current_end_user.first_name %><%= current_end_user.last_name %><br>
      <%= f.radio_button :address, class: "edit-control" %>
      <%= f.label :address, "登録住所から選択" %><br>
      <%= f.collection_select :end_user_id, Delivery.all, :id, :full_address %><br>
      <%= f.radio_button :address, class: "edit-control" %>
      <%= f.label :address, "新しいお届け先" %><br>
      <h5>郵便番号(ハイフンなし)</h5>
      <%= f.text_field :postcode %>
      <h5>住所</h5>
      <%= f.text_field :address, :size=>"60" %>
      <h5>宛名</h5>
      <%= f.text_field :direction %>

      <%= link_to "確認画面へ進む" , order_confirm_path, method: :post %>




    <% end %>
  </div>
  </div>
</div>