<div class="container">
	<h1>注文履歴詳細</h1>
		<h2>注文情報</h2>
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>注文日</td>
						<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
					</tr>
					<tr>
						<td>配送先</td>
						<td><%= @order.address %></td>
					</tr>
					<tr>
						<td>支払い方法</td>
						<td><%= @order.payment_type %></td>
					</tr>
					<tr>
						<td>ステータス</td>
						<td><%= @order.order_status %></td>
					</tr>
				</tbody>
			</table>
		<h2>請求情報</h2>
			<table class="table">
				<tr>
					<td>商品合計</td>
					<td><%= @order.total_price %></td>
				</tr>
				<tr>
					<td>配送料</td>
					<td><%= @order.postage %></td>
				</tr>
				<tr>
					<td><strong>ご請求額</strong></td>
					<td><%= ((@order.total_price + @order.postage) * @order.tax ).floor %></td>
				</tr>
			</table>
		<h2>注文内容</h2>
			<table class="table">
				<thead>
					<tr>
						<th>商品</th>
						<th>単価（税込）</th>
						<th>個数</th>
						<th>小計</th>
						<th colspan="4"></th>
					</tr>
				</thead>
				<tbody>
					<% @order.order_details.each do |order_detail| %>
						<tr>
							<td><%= order_detail.item.name %></td>
							<td><%= (order_detail.price * @order.tax).floor %></td>
							<td><%= order_detail.quantity %></td>
							<td><%= order_detail.quantity * order_detail.price %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
</div>