<div class="container">
	<div class="row">
		<div class="col">
			<h2>商品詳細画面</h2>

			<%= attachment_image_tag(item, :image, :fill, 100, 100, fallback: "home-baked-cake.jpg") %>
			<%= @item.name %>
			<%= @item.detail %>

			<%= link_to "カートに入れる", cart_items_path %>
			<%= form_for @cart_item do |f| %>

			<%= f.label :quantity %>
			<%= f.text_field :quantity %>
			<%= f.submit class: "btn btn-primary col-xs-12" ,"カートに入れる" %>

			<% end %>

		</div>
	</div>
</div>
