<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
			<div class="sign-title">

				<h2>登録情報編集</h2>

			</div>
		</div>
	</div>

<!-- エラーメッセージのため<div>で囲みました -->
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <%= form_with model: @end_user, url: end_user_path(@end_user), local: true, method: :patch do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
</div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">

      <p>名前</p>
    </div>
    <div class="col-xs-1">
      <div class="name">
        <p>(性)</p>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="sign-field">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="col-xs-1">
      <div class="name">
        <p>(名)</p>
      </div>
    </div>

    <div class="col-xs-5">
      <div class="sign-field">
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p>フリガナ</p>
    </div>
    <div class="col-xs-1">
      <div class="name">
        <p>(セイ)</p>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="sign-field">
        <%= f.text_field :first_kana_name %>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="name">
        <p>(メイ)</p>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="sign-field">
        <%= f.text_field :last_kana_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p>メールアドレス</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
        <div class="sign-field">
          <%= f.email_field :email %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p>郵便番号(ハイフンなし)</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div class="sign-field">
        <%= f.text_field :postcode %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p>住所</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div class="sign-field">
        <%= f.text_field :address, :size => "60" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <p>電話番号(ハイフンなし)</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div class="sign-field">
        <%= f.text_field :phone_number %>
      </div>
    </div>
  </div>

  <div class="row">
  	<div class="col-xs-3 col-xs-offset-4">

			<%= f.submit '編集内容を保存する', class: "btn btn-primary" %>

		</div>
		<div class="col-xs-3">

			<%= link_to "退会する", end_user_confirm_path(@end_user),class: "btn btn-danger" %>

		</div>

		<% end %>
	</div>
</div>
