<div class="container">
	<div class ="row">
		<div class="col-xs-6">
			<h2>管理者側注文商品詳細画面</h2>
			<table class="table">
				<tbody>
					<tr>
						<th>購入者</th>
						<td><%= link_to @order.end_user.first_name + @order.end_user.last_name, admins_end_users_path %></td>
					</tr>
					<tr>
						<th>配送先</th>
						<td><%= @order.end_user.postcode %></td>
						<td><%= @order.end_user.address %></td>
						<td><%= link_to @order.end_user.first_name + @order.end_user.last_name, admins_end_users_path %></td>
					</tr>
					<tr>
						<th>支払方法</th>
						<td><%= @order.payment_type %></td>
					</tr>
					<tr>
						<%= form_with model: @order, url: admins_order_path,method: :patch, local: true do |f| %>
						<%= f.label :注文ステータス %>
						<%= f.select :order_status,Order.order_statuses.keys, class: "select-default" %>
						<%= f.submit "更新" %>
						<% end %>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価（税込み）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @sum = 0 %>
					<% @order.order_details.each do |order_detail| %>

						<tr>
							<td>
								<%= order_detail.item.name %>
							</td>
							<td>
								<%= (order_detail.item.non_taxed_price * 1.1).floor.to_s(:delimited) %>
							</td>
							<td>
								<%= order_detail.quantity %>
							</td>
							<td>
								<%= (order_detail.item.non_taxed_price * 1.1 * order_detail.quantity).floor.to_s(:delimited) %>
							</td>
							<td>
								<%= form_with model: order_detail, url: admins_order_detail_path(order_detail), method: :patch, local: true do |f| %>
									<%= f.select :item_status, OrderDetail.item_statuses.keys %>


									<%= f.submit "更新" %>
							<% end %>

							</td>
						</tr>
						<% @sum += order_detail.item.non_taxed_price * 1.1 * order_detail.quantity  %>
					<% end %>
				</tbody>
			</table>
			<% @postage = 800 %>
			<table class="table">
				<tbody>
					<tr>
						<th>商品合計</th>
						<td><%= @sum.floor.to_s(:delimited) %></td>
					</tr>
					<tr>
						<th>送料</th>
						<td><%= @postage %></td>
					</tr>
					<tr>
						<th>請求金額合計</th>
						<td> <%= (@sum + @postage).floor.to_s(:delimited) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>